<div class="main">
    <h1>Movie-Actor relation administration</h1>
    <div class="dataForms">
        <ul>
            <li>
                <label>Movie</label>
                <select [(ngModel)]="movieActor.movieId" type="number">
                    <option disabled selected>Choose movie</option>
                    <option *ngFor="let movie of movies" [ngValue]='movie.id'>
                        {{ movie.title }}
                    </option>
                </select>
            </li>
            <li>
                <label>Actor</label>
                <select [(ngModel)]="movieActor.actorId" type="number">
                    <option disabled selected>Choose actor</option>
                    <option *ngFor="let actor of actors" [ngValue]='actor.id'>
                        {{ actor.name }}
                    </option>
                </select>
            </li>
            <button (click)="save()">Save</button>
            <button (click)="cancel()">Cancel</button>
        </ul>
    </div>

    <ul class="content" *ngIf="movieActors.length > 0">
        <div class="infoCard" *ngFor="let movieActor of movieActors">
            <div *ngIf="movieActor.movie != null">
                <ul>
                    <li>
                        <h3>Movie-Actor relation info:</h3>
                    </li>
                    <li><b>ID: </b>{{movieActor.id}}</li>
                    <li>
                        <b>Movie ID: </b>{{movieActor.movieId}} -
                        <b>Title: </b>{{movieActor.movie.title}}
                    </li>
                    <li>
                        <div *ngFor="let actor of movieActor.movie.actorResponse">
                            <div *ngIf="actor.id == movieActor.actorId">
                                <b>Actor ID: </b>{{movieActor.actorId}}
                                <b>Name: </b>{{actor.name}}
                            </div>
                        </div>
                    </li>

                    <button (click)="delete(movieActor)">Delete</button>
                </ul>
            </div>
        </div>
    </ul>
</div>