<div class="main">
    <h1>Showing administration</h1>
    <div class="dataForms">
        <ul>
            <li>
                <label>Price</label>
                <input [(ngModel)]="showing.price">
            </li>
            <li>
                <label>Date of showing</label>
                <input [(ngModel)]="showing.timeOfShowing" type="datetime-local">
            </li>
            <li>
                <label>Movie</label>
                <select [(ngModel)]="showing.movieId" type="number">
                    <option disabled selected>Choose movie</option>
                    <option *ngFor="let movie of movies" [ngValue]='movie.id'>
                        {{ movie.title }}
                    </option>
                </select>
            </li>
            <button (click)="save()">Save</button>
            <button (click)="cancel()">Cancel</button>
        </ul>
    </div>

    <ul class="content" *ngIf="showings.length > 0">
        <div class="infoCard" *ngFor="let showing of showings">
            <ul>
                <li>
                    <h3>Showing info:</h3>
                </li>
                <li><b>ID: </b>{{showing.id}}</li>
                <li><b>Price: </b>{{showing.price}}</li>
                <li><b>Time of showing: </b>{{showing.timeOfShowing | date}} - {{showing.timeOfShowing | date: "HH:mm"}}</li>
                <li><b>Movie ID: </b>{{showing.movieId}}</li>

                <button (click)="edit(showing)">Edit</button>
                <button (click)="delete(showing)">Delete</button>
            </ul>
        </div>
    </ul>
</div>