<nav>
    <a routerLink="/">Home</a>
    <div class="dropdown">
        <button (click)="dropDownNav()" id="dropbtn">Navigation</button>
        <div id="mydropdown" class="dropdown-content">
            <a routerLink="/admin/movie">Movies</a>
            <a routerLink="/admin/actor">Actors</a>
            <a routerLink="/admin/movie-actor">Movie-Actor relations</a>
            <a routerLink="/admin/director">Directors</a>
            <a routerLink="/admin/login">Logins</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer>
    Cinema NVS - Nicklas V Sams
</footer>